name: Release

on:
  workflow_run:
    workflows: [ Tests ]
    branches: [master]
    types:
      - completed

permissions:
  contents: write
  issues: write
  pull-requests: write      

jobs:
  release-please:
    name: release
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
    steps:

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{secrets.GH_TOKEN}}
          target-branch: master
      
      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.releases_created }}
        
      - run: corepack enable
      
      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.releases_created }}

      - run: pnpm install --frozen-lockfile
        if: ${{ steps.release.outputs.releases_created }}

      - run: git config user.email $(git --no-pager show -s --format='%ae' HEAD)
        if: ${{ steps.release.outputs.releases_created }}
      - run: git config user.name $(git --no-pager show -s --format='%an' HEAD)
        if: ${{ steps.release.outputs.releases_created }}

      - run: pnpm build
        if: ${{ steps.release.outputs.releases_created }}

      - env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.releases_created }}
        run: npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      
      - name: Check npm config
        run: npm config list
          
      - run: node_modules/.bin/lerna publish from-package --no-verify-access --yes
        if: ${{ steps.release.outputs.releases_created }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
