name: Tests

on: [pull_request, push]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
            node-version: 16
            cache: yarn
      - run: corepack --enable
      - name: Bootstrap
        run: yarn --immutable
      - name: Build
        run: yarn build
      - name: Check types
        run: yarn check-types
      - name: Lint
        run: yarn lint
      - name: Tests
        run: yarn test

      # Download spec tests with cache
      - name: Restore spec tests cache
        uses: actions/cache@master
        with:
          path: packages/ssz/spec-tests
          key: spec-test-data-${{ hashFiles('packages/ssz/test/specTestVersioning.ts') }}
      - name: Download spec tests
        run: yarn download-spec-tests
        working-directory: packages/ssz

      # Run them in different steps to quickly identifying which command failed
      # Otherwise just doing `yarn test:spec` you can't tell which specific suite failed
      # many of the suites have identical names for minimal and mainnet
      - name: Spec tests general
        run: yarn run -T mocha test/spec/generic/index.test.ts
        working-directory: packages/ssz
      - name: Spec tests phase0-minimal
        run: LODESTAR_PRESET=minimal LODESTAR_FORK=phase0 yarn run -T mocha test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests phase0-mainnet
        run: LODESTAR_PRESET=mainnet LODESTAR_FORK=phase0 yarn run -T mocha test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests altair-minimal
        run: LODESTAR_PRESET=minimal LODESTAR_FORK=altair yarn run -T mocha test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests altair-mainnet
        run: LODESTAR_PRESET=mainnet LODESTAR_FORK=altair yarn run -T mocha test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests bellatrix-minimal
        run: LODESTAR_PRESET=minimal LODESTAR_FORK=bellatrix yarn run -T mocha test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests bellatrix-mainnet
        run: LODESTAR_PRESET=mainnet LODESTAR_FORK=bellatrix yarn run -T mocha test/spec/ssz_static.test.ts
        working-directory: packages/ssz
