name: Tests

on: [pull_request, push]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node}}
          cache: yarn
      - name: Bootstrap
        run: yarn --immutable
      - name: Build
        run: yarn build
      - name: Generate
        run: yarn generate
      - name: Check types
        run: yarn check-types
      - name: Lint
        run: yarn lint
      - name: Unit Tests
        run: yarn test:unit
      - name: Browsers Tests
        run: yarn test:browsers

      # Download spec tests with cache
      - name: Restore spec tests cache
        uses: actions/cache@master
        with:
          path: packages/ssz/spec-tests
          key: spec-test-data-${{ hashFiles('packages/ssz/test/specTestVersioning.ts') }}
      - name: Download spec tests
        run: yarn download-spec-tests
        working-directory: packages/ssz

      # Run them in different steps to quickly identifying which command failed
      # Otherwise just doing `yarn test:spec` you can't tell which specific suite failed
      # many of the suites have identical names for minimal and mainnet
      - name: Spec tests general
        run: yarn vitest run test/spec/generic/index.test.ts
        working-directory: packages/ssz
      - name: Spec tests phase0-minimal
        run: LODESTAR_PRESET=minimal LODESTAR_FORK=phase0 yarn vitest run test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests phase0-mainnet
        run: LODESTAR_PRESET=mainnet LODESTAR_FORK=phase0 yarn vitest run test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests altair-minimal
        run: LODESTAR_PRESET=minimal LODESTAR_FORK=altair yarn vitest run test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests altair-mainnet
        run: LODESTAR_PRESET=mainnet LODESTAR_FORK=altair yarn vitest run test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests bellatrix-minimal
        run: LODESTAR_PRESET=minimal LODESTAR_FORK=bellatrix yarn vitest run test/spec/ssz_static.test.ts
        working-directory: packages/ssz
      - name: Spec tests bellatrix-mainnet
        run: LODESTAR_PRESET=mainnet LODESTAR_FORK=bellatrix yarn vitest run test/spec/ssz_static.test.ts
        working-directory: packages/ssz
